[submodule "Live-Code-Editor"]
	path = Live-Code-Editor
	url = https://github.com/mrmushtaq/Web-Engineering-Project-Live-Code-Editor-of-HTML-CSS-JS.git
[submodule "WEb-Based-Quiz-Application"]
	path = WEb-Based-Quiz-Application
	url = https://github.com/mrmushtaq/WEb-Based-Quiz-Application.git
[submodule "Web-based-Digital-Clock"]
	path = Web-based-Digital-Clock
	url = https://github.com/mrmushtaq/Web-based-Digital-Clock.git
[submodule "Web-Application-Calculator"]
	path = Web-Application-Calculator
	url = https://github.com/mrmushtaq/Web-Application-Calculator.git
